* {
    margin: 0; padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
@font-face {
    font-family: Montserrat Semi-Bold;
    src: url(/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat Regular;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat Bold;
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Suisse Intl Trial;
    src: url(/fonts/SuisseIntl-FreeTrial/Desktop/SuisseIntlTrial-Light.otf); 
}
@font-face {
    font-family: Suisse Intl Trial Medium;
    src: url(/fonts/SuisseIntl-FreeTrial/Desktop/SuisseIntlTrial-Medium.otf); 
}
@font-face {
    font-family: Suisse Intl Trial Bold;
    src: url(/fonts/SuisseIntl-FreeTrial/Desktop/SuisseIntlTrial-Bold.otf);
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.headerBottomLine {
    width: 100%;
    height: 1px;

    background: #D0D0D0;
}
.headerContent {
    width: 1440px;
    height: 100%;

    display: flex;
    align-items: center;
}
.logo {
    width: 131px;
    height: 72px;
    margin-left: 100px;
    margin-right: 2px;
    background-image: url(/images/header/logo.png);
    background-size: contain;
}
.headerSeparator {
    width: 1px;
    height: 40px;
    margin: 0 25px;

    transform: rotate(0deg);

    border: none;
    background: #E2E2E2;
}
.language {
    font-family: Suisse Intl Trial;
    font-size: 16px;
    text-align: center;
    color: black;
}
.languageList {
    margin-right: 6px;
    text-align: center;
}
.selectedLanguage {
    width: 35px;
    height: 20px;
    background: #4AD295;
    border-radius: 2px;
}
.selectedLanguage > .language {
    position: relative;
    top: 2px;
    font-family: Suisse Intl Trial Medium;
    color: white;
}
.headerSmmPanel{
    height: 20px;
    width: 85px;
    display: flex;
    justify-content: space-between;
}
.headerSmm {
    height: 20px;
    width: 20px;
}
.headerSmm:last-child {
    position: relative;
    left: 2px;
}
.headerSmm:first-child {
    position: relative;
    left: 5px;
}
.headerPhone {  
    width: 128px;
    height: 21px;

    color: #000;

    font-family: Colibri;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;

    text-align: center;
    color: #393939;    
}
.headerPhoneIcon {
    width: 43px;
    height: 43px;

    margin-left:10px;
    position: relative;
    left: 3px;

    background-size: cover;
    background-image: url(/images/header/smartphone.png);
}
.maistraOnline {
    width: 240px;
    height: 55px;

    background: #EFF3F6;
    border-radius: 2px;
    margin-right: 48px;
}
.maistraText {
    width: 145px;
    height: 20px;

    font-family: Montserrat Semi-Bold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;

    margin-top: 17px;
    margin-left: 21px;

    color: #373737;
}
.maistraIcon {
    width: 55px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #DD4053;
    border-radius: 2px;

    position: relative;
    bottom: 37px;
    left: 185px;
}
.book {
    width: 20px;
    height: 20px;
    background-position: center top;
    background-image: url(/images/header/book.png);
}
.toursOnline {
    width: 205px;
    height: 55px;

    background: #EFF3F6;
    border-radius: 2px;
}
.searchIcon {
    background: #4AD295;
}
.search {
    background:no-repeat;
    background-image: url(/images/header/search.png);
}
/* ======== Intro ======== */
.introNav {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center; 
    align-items: flex-end;
}
.introNavContent {
    width: 1093px;
    height: 42px;

    display: flex;
    align-items: stretch;

    background-color: rgb(255, 255, 255);
}
.introNavSearchIcon {
    width: 19px;
    height: 17.17px;
    
    background-image: url(/images/intro/search.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));

    background-size: cover;
    margin-right: 60px;
}
.introSelectPanel {
    width: 1014px;
    height: 42px;
    position: relative;

    display: flex;
    justify-content: space-between;
}
.introSelectPanel a{    
    font-family: Suisse Intl Trial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;

    color: #616161;
}
.introSelectPanel a:hover {
    color: #171717;
}
select {
    font-family: Suisse Intl Trial;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;

    background: none;
    border: 0 solid black;
    outline: 0 solid black;
    height: 19px;
    cursor: pointer;
    
    color: #616161;
}
.introBg {
    width: 100%;
    height: 490px;

    background-image: url(/images/intro/intro_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.introBgDradient {
    width: 100%;
    height: 490px;
    
    background: linear-gradient(180deg, rgba(25, 25, 31, 0.281) 29.48%, 
    #000000e7 100%);
    opacity: 0.9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.introContent {
    width: 1400px;
    height: 100%;
    padding-left: 195px;
    padding-top: 104px;
    box-sizing: border-box;
}
.introBtn {
    width: 249px;
    height: 45px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transition: .13s linear;
    
    padding: 6px 21px 7px 23px;
    margin-left: 4px;
}
.introBtn:hover {
    border: 1px solid #02a2ff;   
}
.introBtn:hover .introBtnText {
    color: #02a2ff;      
}
.introBtnText {
    width: 205px;
    height: 32px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;

    transition: .13s linear;
}
.introH {
    width: 725px;
    height: 102px;

    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    margin-top: 12px;

    text-transform: uppercase;

    color: #FFFFFF;
}
.introBtn2 {
    width: 270px;
    height: 60px;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;

    transition: 130ms linear;

    margin-top: 40px;
    box-sizing: border-box;
    padding: 18px 85px 22px 86px;
}
.introBtn2Text {
    width: 99px;
    height: 20px;

    font-family: Montserrat Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #FFF;
}
.introBtn2:hover {
    background: rgba(255, 255, 255, 0.350);
}
.sliderDot {
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100%;
    margin-right: 10px;
}
.sliderDotList {
    display: flex; 
    margin-top: 56px;   
}
.fullDot {
    background: #fff;
}
.emptyDot {
    opacity: 0.5;  
}
/* Content */
main {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContent {
    width: 1440px;
    flex-direction: column;
}
/* Benefits */
.benefitsContent {
    width: 100%;
    height: 250px;
    background: #f8f8f8;

    display: flex;
    justify-content: center;
}
.ourBenefits {
    width: 1440px;
    height: 250px;

    padding: 53px 121px 0 198px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}
.benefitsHeader {
    width: 624px;
    height: 72px;

    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #1D1D1D;
}
.benefitsCaption {
    width: 335px;
    height: 28px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    margin-top: 15px;

    color: #777777;
}
.benefitsButtons {
    display: flex;
    margin-top: 20px;
}
/* btn1 */
.benefitBtn1 {
    width: 270px;
    height: 50px;

    background: #BDBDBD;
    border-radius: 2px;

    box-sizing: border-box;
    padding: 15px 44px;
    margin-right: 30px;

    transition: 150ms linear;
}
.benefitBtn1Text {
    width: 182px;
    height: 20px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
    text-align: center;
    
    color: #FFFFFF;
    transition: 150ms linear;
}
.benefitBtn1:hover .benefitBtn1Text{
    color: rgb(105, 105, 105);
}
.benefitBtn1:hover {
    background-color: #d6d6d6;

}
/* btn2 */
.benefitBtn2 {
    width: 220px;
    height: 50px;

    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;

    box-sizing: border-box;
    padding: 15px 48px 15px 50px;
    transition: 150ms linear;
}
.benefitBtn2Text {
    width: 122px;
    height: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #969696;

    transition: 150ms linear;
}
.benefitBtn2:hover .benefitBtn2Text{
    color: rgb(255, 255, 255);
}
.benefitBtn2:hover {
    background-color: #bbbbbbd3;
    border: 1px solid #bbbbbbd3;
}
.benefitEllipse {
    width: 45px;
    height: 45px;

    border: 1.2px dashed #969696;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.164));
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.benefitsIcons {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.benefitsRight {
    display: flex;
    margin-left: 62px;
}
.benefitIconCaption {
    width: 370px;
    height: 198px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 66px;

    color: #3D3D3D;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-bottom: 2px;
    margin-left: 20px;

}
.benefitsIcons {
    position: relative;
    top: 7px;
}
/*  Best Hotels */
.bestHotels {
    width: 1440px;
    height: 545px;
    padding-top: 90px;
}
.containerHeaderPanel {
    width: 1440px;
    display: flex;
    align-items: flex-end;
}
.containerHeaderText {
    width: 411px;
    height: 43px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;

    margin-left: 198px;

    color: #232323;
}
.bestHotelPointers {
    display: flex;
}
.bestHotelPointers li {
    position: relative;
    top: 6px;

    margin-right: 20px;
}
.bestHotelsElipse {
    width: 50px;
    height: 50px;

    border: 1px solid #454545;
    border-radius: 50%;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.bestHoteslArrow {
    position: relative;
    top: 20px;
    left: 6px;
}
.bestHotelPointers li:last-child{
    transform: rotate(180deg)
}
.containerContentLine {
    width: 237px;
    height: 1px;
    
    position: relative;
    top: -18px;
    margin-left: 58px;
    margin-right: 26px;

    background: #C4C4C4;
}
.containerHeaderBtn {
    width: 140px;
    height: 45px;

    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;
    
    padding: 14px 32px;
    transition: 140ms linear;

    position: relative;
    top: 5px;
}
.containerHeaderBtnText {
    width: 76px;
    height: 17px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
    
    color: #969696;
    transition: 140ms linear;
}   
.containerHeaderBtn:hover .containerHeaderBtnText{
    color: rgb(255, 255, 255);
}
.containerHeaderBtn:hover {
    background-color: #bbbbbbd3;
    border: 1px solid #bbbbbbd3;
}
.bestHotelsCardPanel {
    display: flex;
    justify-content: space-between;

    margin-top: 54px;
}
.bestHotelsCard {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.bestHotelsCard .actualToursCardLabel{
    left:0;
    top: 20px;
}
.bestHotelsStarList {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 180px;
}
.bestHotelsStarList li {
    margin: 0 2.625px;
}
.bestHotelsCardText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    position: absolute;
    top: 228px;
}
/* Actual tours */
.actualTours {
    width: 1440px;
    padding: 100px 115px 131px 115px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.actualToursHeader {
    width: auto;
    margin-left: 200px;
}
.actualToursLine {
    width: 340px;
    position: relative;
    margin-left: 56px;
}
.actualToursBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.actualToursHeaderBtnText {
    width: 95px;
    height: 17px;
}
.actualToursContentPanel { 
    display: flex;
    align-items: flex-start;
}
.actualToursCardPanel {
    width: 1039px;
    height: 480px;

    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    margin: 40px 36px 0px 35px;
}
.actualToursCard {
    width: 327px;
    height: 480px;

    padding-left: 20px;
    box-sizing: border-box;

    flex-direction: column;

    background: #F8F8F8;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    text-transform: uppercase;
    transition: 150ms linear;

    color: #323232;
}
.actualToursCard:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.actualToursCardLabel {
    max-width: 195px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;

    padding: 3px 13px 3px 15px;
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    left: -20px;
    z-index: 2;

    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.35);
}
.actualToursCardImg {
    position: relative;
    top: 0;
}
.actualToursCardPricePanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actualToursCardPrice {
    width: 73px;
    height: 32px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;  
    line-height: 34px;  

    color: #DD4053;
    margin: 23px 0 0 0;
}
.actualToursCardOt {
    width: 18px;
    height: 34px;
    font-family: 
    Suisse Intl Trial;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    text-transform: lowercase;

    margin: 26px 2px 0 0;

    color: #DD4053;
}
.perSeason {  
    position: relative;
    top: -15px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 34px;
    text-transform: lowercase;

    color: #C9C9C9;
}
.atualToursPriceLeft {
    display: flex;
    flex-direction: column;
}
.actualToursPriceText {
    width: 79px;
    height: 36px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: lowercase;
    margin-right: 25px;

    position: relative;
    top: 5px;

    color: #3E3E3E;
}
.actualToursCard img{
    position: relative;
    left: -20px;
    margin-bottom: 7px;
}
.actualToursCardCaption {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: lowercase;

    margin-top: 15px;
    color: #848484;
}
.firstCaption {
    margin-top: 40px;
}
.actualToursList{
    display: flex;
}
.actualToursList .rotate{
    transform: rotate(180deg);
}
.actualToursList li{
    display: flex;
    align-items: center;
}
.actualToursCardLine {
    margin-left: 0;
    width: 280px;
    position: relative;
    top: 0;
    margin-top: 19px;
}
.actualToursNav {
    width: 1042px;
    height: 146px;

    margin-top: 60px;

    background:#F8F8F8;
}
.actualToursNavLine{
    width: 1042px;
    height: 6px;

    background: #969696;
}
.dateChose {
    display: none;
}
form select .selectDate:focus .dateChose {
    display: block;
}
.selectCity {
    width: 103px;
    box-sizing: border-box;
    padding-left: 20px;
}
.selectCountry {
    width: 213px;
    box-sizing: border-box;
    padding-left: 20px;
}
.selectDate {
    width: 110px;
    box-sizing: border-box;
    padding-left: 22px;     
}
.selectPeople {
    width: 190px;
    box-sizing: border-box;
    padding-left: 25px;     
}
.selectNights {
    width: 149px;
    box-sizing: border-box;
    padding-left: 22px;     
}


















.actualToursNavLineContent {
    width: 825px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid rgba(46, 46, 46, 0.2);
    box-sizing: border-box;
    border-radius: 2px;

    position: absolute;
    top: 2340px;
    margin-left: 30px;
}
.actualToursNavLineContent select {
    height: 100%;
    border-right: 1px rgba(46, 46, 46, 0.2) solid;
}
.actualToursNavLineContent form {
    height: 49px;
}
/* Important News */
.importantNewsContent {
    width: 100%;
    height: 620px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F8F8F8;
}
.importantNews {
    width: 1440px;
    height: 620px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 94px;
    box-sizing: border-box;
    background: #F8F8F8;
}
.importantNewsHeaderText {
    height: 43px;
    width: 480px;

    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
}
.importantNewsList .bestHotelsElipse {
    position: relative;
    /* top: 49px; */
    left: -34px;
}
.importantNewsList > li:last-child {
    position: relative;
    top: 1px;
    left: 14px;
}
.importantNewsHeaderPanel {
    margin-bottom: 72px;
}
.importantNewsCardPanel {
    width: 1041px;
    height: 315px;

    display: flex;
}
.importantNewsCard {
    width: 252px;
    height: 315px;

    flex-direction: column;

    margin-right: 14px;
    border-right: 1px #EEEEEE solid;
}
.importantNewsCardDate {
    width: 134px;
    margin-top: 15px;

    display: flex;
    align-items: center;

    color: #BBBBBB;
}
.noBorder {
    border: 0;
}
.importantNewsCardDateText {
    width: 109px;
    height: 25px;
    
    position: relative;
    top: -2px;
    
    margin-left: 3px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    
}
.importantNewsCardDateHeader {
    width: 195px;
    height: 49px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #323232;
    margin-bottom: 25px;
}
.importantNewsCardDateMore {
    width: 77px;
    height: 24px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    border-bottom: 1px #232323 solid;
    transition: 100ms linear;
    color: rgb(23, 23, 23);
    
}
.importantNewsCardDateMore:hover {
    color: #DD4053;
    border-bottom: 1px #DD4053 solid;
}
/* Blog */
.blog{
    width: 1440px;
    height: 615px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: #FFF;
}
.blogLine {
    width: 680px;
}
.blogHeaderText {
    width: auto;

    margin: 0 4px 0 201px;
}
.blogHeaderPanel {
    display: flex;
    margin-top: 90px;
}
.blogContent {
    width: 1440px;
    height: 320px;

    margin-top: 72px;

    display: flex;
    justify-content: space-between;
}
.blogPointers {
    height: 130px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 82px 16px 0 117px;
}
.blogCardPanel {
    width: 1293px;
    height: 100%;

    display: flex;
    justify-content: space-between;
}
.blogCard {
    width: 300px;
    height: 320px;

    display: flex;
    flex-direction: column;

    background: #FFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.blogCardImg {
    margin: 15px;
}
.blogCardHeader {
    margin-left: 21px;
    margin-bottom: 20px;
}
.blogCardDate {
    width: 228px;

    display: flex;
    justify-content: space-between;

    margin: 0;
}
.blogCardDateLeft {
    width: 200px;
    display: flex;
    margin-left: 17px;
}
.blogCardDateText {
    margin-top: 0;
}
.blogCardDateRight { 
    max-width: 67px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.blogCardDateRight img {
    margin-right: 15px;
}
.blogDateMore {
    margin-left: 20px;
    border: 0;
}
.blogDateMore:hover {
    filter: invert(17%) sepia(100%) saturate(7441%) 
    hue-rotate(2deg) brightness(95%) contrast(113%);
    border: 0;
}
.blogDateMore img{
    position: relative;
    left: 118px;
    top: -16px;
}
.planeImg {
    position: absolute;
    top: 2997px;
    left: 792px;
    z-index: 2;
}
/* Feedback block */
.feedbackBlock {
    width: 100%;

    display: flex;
    justify-content: center;

    background: #DD4053;
}
.feedbackBlockContent {
    width: 1440px;
    height: 255px;

    box-sizing: border-box;
    padding: 58px 200px 61px 200px;

    display: flex;
    flex-wrap: wrap;

    background: #DD4053;
}
.feedbackWaveImg {
    position: absolute;
    left: 970px;
    top: 3760px;
}
/* .feedbackBlockTopContent {
    width: 1038px;

    
} */
.feedbackBlockHeaderText {
    width: 618px;
    height: 55px;

    margin-left: 1px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 55px;

    color: #FFFFFF;
}
.feedbackBlockHeaderCaption {
    width: 363px;
    height: 52px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    
    color: #EFEFEF;
}
.feedbackBlockBottomContent {
    width: 1038px;
    height: 50px;
}
.feedbackBlockEmail {
    width: 410px;
    height: 50px;

    padding: 19px 20px 15px 15px;
    margin-right: 51px;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}
input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}
form {
    width: 760px;
    margin: 0;
}
form label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    margin-left: 20px;
    margin-right: 40px;

    color: #FFFFFF;
}
.feedbackSendBtn {
    width: 237px;
    height: 50px;

    position: absolute;
    left: 1233px;
    top: 3912px;

    box-sizing: border-box;
    padding: 16px 72px 15px 77px;

    background: #FFFFFF;
    color: #Da2032;
    border-radius: 2px;

    transition: 120ms linear;
}
.feedbackSendBtn:hover {
    background: #e09191;
    color: rgb(255, 255, 255);
}